$min-contrast-ratio: 2.5;
$primary: #3C79F5 !default;
$warning : #FFB100 !default;
$danger : #E64848 !default;
$success : #00C897 !default;
$danger-light : #EB455F !default;
$secondary:$danger-light !default;
$black : #323232 !default;
$dark : #151D3B !default;
$orange : #F66B0E !default;
$grey100 : #EAEAEA !default;
$grey200 : #DDDDDD !default;