@import "/src/assets/scss/variables/variables";

.page-navbar{
    height: 64px;
}
.page-navbar .user-dropdown {
    width: 300px;
    box-shadow: 1px 2px 6px lighten($color: $dark, $amount: 75%);
    border-radius: 10px;
    border: 0 !important;
    margin: -0.3rem 0 0 !important;
}
