<nav class="navbar navbar-top navbar-expand page-navbar bg-white" id="navbar-bh">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-between">
      <div class="navbar-logo d-flex">
        <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse"
          aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span
              class="toggle-line"></span></span></button>
      </div>
      <ul class="navbar-nav navbar-nav-icons flex-row">
        <li class="nav-item me-3">
          <a class="nav-link active">
            <fa-icon class="text-dark fs-5" [icon]="faHome"></fa-icon>
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link active">
            <fa-icon class="text-dark fs-5" [icon]="faBell"></fa-icon>
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link active">
            <fa-icon class="text-dark fs-5" [icon]="faMessage"></fa-icon>
          </a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle role="button">
            <fa-icon class="text-dark fs-5" [icon]="faUserTie"></fa-icon>
          </a>
          <ul class="dropdown-menu dropdown-menu-right user-dropdown mt-0 mb-0" *dropdownMenu>
            <li role="menuitem">
              <div class="p-2">
                <table class="h-100 w-100">
                  <tr>
                    <td class="" style="width:30px">
                      <fa-icon
                        class="color-icon text-primary bg-dark-lighten rounded-circle text-center d-inline-block ht-50px w-50px fs-3 pt-1 me-3"
                        [icon]="faUserTie"></fa-icon>
                    </td>
                    <td>
                      <div class="fs0-9 fw-bold">Name</div>
                      <div class="fs0-9 Text-muted">Role</div>
                    </td>
                  </tr>
                </table>
              </div>
            </li>
            <li class="divider dropdown-divider mt-0 mb-0"></li>
            <li role="menuitem">
              <div class="p-2 pt-3 pb-3">
                <button class="btn btn-default btn-sm rounded-pill border shadow-none p-2 ps-3 pe-3">
                  <fa-icon class="me-2 fs0-9" [icon]="faPowerOff">
                  </fa-icon>
                  Logout
                </button>
              </div>
            </li>
            <li class="divider dropdown-divider mt-0 mb-0"></li>
            <li role="menuitem" class="text-muted">
              <div class="p-2 ps-3">
                Version : {{ version }}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>