@import "/src/assets/scss/variables/variables";

.page-wrapper{
    position: relative;
    height: calc(100vh);
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.page-sidenav{
    position: fixed;
    top: 64px;
    bottom: 0px;
    width: 280px;
    left: 0px;
    background-color: $primary;
}