@import "../src/assets/scss/variables/variables";

/*Including bootstrap scss*/
@import "node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 95%;
    font-family: 'Poppins', sans-serif;
    background-color: lighten($color: $grey100, $amount: 6%);
}

.cp {
    cursor: pointer;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}
.fs0-75 {
    font-size: 75%;
}
.fs0-8 {
    font-size: 80%;
}

.fs0-9 {
    font-size: 90%;
}

.btn-overall {
    padding: 10px 12px;
}

.btn-rounded {
    border-radius: 25px;
}

.ig-wrapper {
    position: relative;
}

.ig-wrapper .icon-left {
    padding: 12px 16px;
    background-color: $white;
    border-right: 0px !important;
    color: $orange;
}

.ig-wrapper .input-right {
    padding: 12px 16px;
    background-color: $white;
    border: 1px solid #ced4da !important;
    border-left: 0px !important;
    
}

.ig-wrapper .input-left {
    padding: 12px 16px;
    background-color: $white;
    border: 1px solid #ced4da !important;
    border-left: 0px !important;
}

.ig-wrapper .input-center {
    padding: 12px 16px;
    background-color: $white;
    border: 1px solid #ced4da !important;
    border-left: 0px !important;
}
.ig-wrapper input:focus,
.ig-wrapper input:hover{
    outline: none !important;
    box-shadow: none !important;
  
}

.ig-wrapper .icon-right {
    padding: 12px 16px;
    color: $orange;
    border-left: 0px !important;
}

/* Background color css*/

.bg-primary{
    background-color: $primary;
}
.bg-secondary{
    background-color: $secondary;
}
.bg-danger{
    background-color: $danger;
}
.bg-warning{
    background-color: $warning;
}
.bg-success{
    background-color: $success;
}
.bg-dark{
    background-color: $dark;
}
.bg-primary-lighten{
background-color: lighten($color: $primary, $amount: 20%);
}
.bg-dark-lighten{
    background-color: lighten($color: $dark, $amount: 80%);
}

/* Text Css */

.text-gray-lighten{
    color: lighten($color: $grey200, $amount: 0);
}

/* Height css*/

.ht-20px{
    height: 20px;
}
.ht-30px{
    height: 30px;
}
.ht-40px{
    height: 40px;
}
.ht-50px{
    height: 50px;
}
.ht-60px{
    height: 60px;
}
.ht-70px{
    height: 70px;
}
.ht-100px{
    height: 100px;
}

/* Width Css*/

.w-50px{
    width:50px;
}

/* Border CSS*/

.br-0{
    border-radius: 0;
}
.br-tl-0{
    border-top-left-radius: 0;
}
.br-tr-0{
    border-top-right-radius: 0;
}
.br-bl-0{
    border-bottom-left-radius: 0;
}
.br-br-0{
    border-bottom-right-radius: 0;
}